body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #78CAD2;
  text-align: center;
  color: white;
  font-size: 24px;
  letter-spacing: 3px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stopWatch {
  display: block;
  width: 480px;
  height: 200px;
  background-color: #62A8AC;
  box-shadow: 0 0 10px #bfc0e9;
  border-radius: 15px;
  padding: 30px 0;
}

.time {
  width: 80%;
  background-color: #62A8AC;
  border: 2px solid #bfc0e9;
  border-radius: 10px;
  margin: auto;
  padding: 20px 0;
  font-size: 72px;
  color: #e1d4ff;
}

.buttons-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 0;
}

.buttons-list li {
  border: 1px solid #62A8AC;
  border-radius: 10px;
  width: 130px;
  margin: 0 5px;
  padding: 5px 0;
  cursor: pointer;
}

.start {
  background-color: #50858B;

  &:hover {
    background-color: darken(#50858B, 10%);
  }
}

.stop {
  background-color: #A1D2CE;

  &:hover {
    background-color: darken(#A1D2CE, 10%);
  }
}

.reset {
  background-color: #5497A7;

  &:hover {
    background-color: darken(#5497A7, 10%);
  }
}
